*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid blue; */
}
/* image gallery for mobile grid */
.image-gallery {
    /* padding-bottom: 200%; */
    display:grid;
    /* background-color:red; */
    grid-template-columns: 1fr;
    grid-template-rows:auto;
    grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e"
    "f"
    ;
}
.container { 
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: auto; 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    }
nav {
    width:100vw;
  position: fixed;
  margin:0 auto;
  /* top:0px; */
  z-index: 3;
  /* display: flex;   */
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}

nav ul{
    list-style:none;
    z-index: 3;
    display: flex;  
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    gap:30px;
    padding:10px;

  }

  nav ul li{
    padding:10px;
  }

header{
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: auto; 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    padding: 0px;
    margin-left: 3%;
    margin-top: 3%;
    background-color: white;
    border-radius: 11%;
    z-index: 2;    
}
.black-outline{
   /*  width: 450px; */
     /* height: 400px;  */
    padding: 0px;
    margin-left: 4%;
    margin-top: 4%;
    border-color: black;
    border-width: 8px;
    border-radius: 11%;
    z-index: 1; 
}

.icon {
    /* width: 150px; */
    /* height: 150px; */
    margin-left: 0%;
    scale: 50%;
}
.aboutme-button {
    width: 40vw;
    /* height: 60px; */
    /* padding: 10px;
    margin-left: 5%; */
    /* margin-top: 0%; */
    border: 1px black;
    background-color: white;
    border-style: solid;
    /* position: static; */
    border-radius: 40%;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    z-index: 3;
    -webkit-text-fill-color: black;
}
.work-button {
    width: 40vw;
    /* height: 60px; */
    /* padding: 10px; */
    /* margin-left: 110%; */
    /* margin-top: 5%; */
    border: 1px black;
    background-color: white;
    border-style: solid;
    /* position: static; */
    border-radius: 40%;
    font-family: 'Quicksand', sans-serif;
    z-index: 2;
    text-align: center;
    -webkit-text-fill-color: black;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-family:'Quicksand', sans-serif;
}
h2 {
    font-size: 40px;
    text-align: center;
    font-family:'Quicksand', sans-serif;
}

/* IMAGE GALLERY CSS */

.box-wrapper{
  height:350px;
  border-radius: 11%;
}


.bigText {
    font-size: 2em;
    padding-right: .5ch;
}

/* MEDIA QUERY FOR MOBILE */
@media (min-width:1200px){
    nav {
        padding-left: 0;
    }

    .image-gallery { 
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: auto; 
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        z-index: 2;
        /* position: absolute;  */
        }
    .img1 {
        width: 30%;
       /* height: 5000px;*/
        margin-left: 3%;
        margin-top: 25%;
        border-radius: 11%;
        z-index: 2;
    }
    .img2 {
        width: 35%;
       /* height: 5000px;*/
        margin-left: 70%;
        margin-top: 0%;
        border-radius: 11%;
        position:absolute;
        z-index: 2;
    }
    .img3 {
        width: 30%;
       /* height: 5000px;*/
        margin-left: 37%;
        margin-top: 10%;
        border-radius: 11%;
        position: absolute;
        z-index: 2;
    }
    .img4 {
        width: 35%;
       /* height: 5000px;*/
        margin-left: 72%;
        margin-top: 40%;
        border-radius: 11%;
        position: absolute;
        z-index: 2;
    }
    .img5 {
        width: 30%;
       /* height: 5000px;*/
        margin-left: 39.5%;
        margin-top: 54%;
        border-radius: 11%;
        position: absolute;
        z-index: 2;
    }
    .img6 {
        width: 40%;
       /* height: 5000px;*/
        margin-left: 0%;
        margin-top: 68%;
        border-radius: 11%;
        position: absolute;
        z-index: 2;
    }
}